.main-panel {
    padding-bottom: 8px;
    font-weight: lighter;
}

.main-panel__play-button {
    margin-bottom: 10px;
}

.now-playing-section {
  font-size: 2.5rem;
  padding-top: 20px;
}
.now-playing-section h5 {
  font-size: 1rem;
  margin-bottom: 0px;
}
.seed-input {
  color: white;
  background-color: transparent;
}

.main-title {
    font-weight: 100;
}

.lead a {
    color: white;
    text-decoration: underline;
}
.generation-options {
  padding: 2em;
}

.version {
    font-size: 0.6rem;
}

@media (min-width: 576px) { 
    .main-title {
        font-size: 3rem;
    }    
 }

@media (min-width: 768px) { 
    .main-title {
        font-size: 3rem;
    }
 }

@media (min-width: 992px) { 
    .main-title {
        font-size: 4rem;
    }
 }

@media (min-width: 1200px) { 
    .main-title {
        font-size: 5rem;
    }
 }


