html, body, #root {
    color: white;
}
body {
  background-color: transparent;
}
html {
  min-height: 100%;
  /* background: #485563;  
  background: -webkit-linear-gradient(to bottom, #29323c, #485563);  
  background: linear-gradient(to bottom, #29323c, #485563); */
  background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#root {
  padding-top: 40px;
}
