html, body, #root {
    color: white;
}
body {
  background-color: transparent;
}
html {
  min-height: 100%;
  background: #43cea2;  
  background: -webkit-linear-gradient(to top, #185a9d, #43cea2);
  background: linear-gradient(to top, #185a9d, #43cea2); 
}
#root {
  padding-top: 40px;
}
