html,
body,
#root {
  color: white;
}
body {
  background-color: transparent;
}
html {
  min-height: 100%;
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}
#root {
  padding-top: 40px;
}
