html,
body {
  background-color: #2d6e8e;
}

.toolbar {
  height: 32px;
  background-color: #73a7c0;
  padding: 16px;
}
.toolbar button {
  height: 34px;
}

.toolbar__content {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar__main-buttons {
  margin-right: -16px;
}
.toolbar__main-buttons button {
  margin-right: 16px;
}
