
.main-panel {
/* background-color: rgb(255,255,255,0.6); */
    padding-bottom: 8px;
    font-weight: lighter;
    /* -webkit-box-shadow: 0px 0px 26px -5px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 0px 26px -5px rgba(0,0,0,0.66);
    box-shadow: 0px 0px 26px -5px rgba(0,0,0,0.66); */
}

.main-panel__play-button {
    margin-bottom: 10px;
}

.generation-options {
  margin-top: 60px; 
}

.now-playing {
  font-size: 1.1em;
}