.main-panel {
    background-color: white;
    padding-bottom: 8px;
    /* -webkit-box-shadow: 0px 0px 26px -5px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 0px 26px -5px rgba(0,0,0,0.66);
    box-shadow: 0px 0px 26px -5px rgba(0,0,0,0.66); */
}

.main-panel__settings {
    
}